{% set cr = app.request.attributes.get('_route') %}
{#<li {% if ('dashboard' == cr) %}class="active"{% endif %}>
    <a href="{{ path('dashboard') }}">
        <i class="fa fa-dashboard icon-sidebar"></i>Dashboard
    </a>
</li>
{% if is_granted('ROLE_SUPER_ADMIN') or is_granted('ROLE_ADMIN') %}
<li {% if ('person_admin' == cr or 'user_edit' == cr or 'user_new' == cr ) %}class="active"{% endif %}>
    <a href="{{ path('user') }}">
        <i class="fa fa-user icon-sidebar"></i>Users
    </a>
</li>
{% endif %}
#}
<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container "> 
            <a class="btn btn-navbar" ><span
                        class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span> </a><a class="brand" href="">Blog System </a>
            <div class="nav-collapse">
                <ul class="nav pull-right">
                    <li class="dropdown"><a href="{{ path('fos_user_security_logout') }}" ><i class="icon-cog"></i> logout </a>
                    </li>
                    <li class="dropdown"><a href="#" ><i class="icon-user"></i> {{ app.user.username }} </a>

                    </li>
                </ul>
                <form class="navbar-search pull-right">
                    <input type="text" class="search-query" placeholder="Search">
                </form>
            </div>
            <!--/.nav-collapse -->
        </div>
        <!-- /container -->
    </div>
    <!-- /navbar-inner -->
</div>
<!-- /navbar -->
<div class="subnavbar">
    <div class="subnavbar-inner">
        <div class="container testupload ">
            <ul class="mainnav">
                <li><a href="{{path('blog')}}"><i class="icon-bar-chart"></i><span>Blogs</span> </a> </li>
                <li><a href="{{path('bcat')}}"><i class="icon-bar-chart"></i><span>Blog Categories</span> </a> </li>
                <li><a href="{{ path('fos_user_change_password') }}"><i class="fa-bar-chart-o"></i><span>Change Password</span> </a> </li>
                <li><a href="{{ path('fos_user_profile_edit') }}"><i class="fa-bar-chart-o"></i><span>Edit Profile</span> </a> </li>
            </ul>
        </div>
        <!-- /container -->
    </div>
    <!-- /subnavbar-inner -->
</div>