{% extends 'FEBundle::base.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
{% endblock %}
{% block body -%}

    <!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->
    <header class="intro-header" style="background-image: url('{{ asset('bundles/fe/img/home-bg.jpg') }}')">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="site-heading">
                        <h1>Clean Blog</h1>
                        <hr class="small">
                        <span class="subheading">A Clean Blog Theme  Bootstrap</span>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <div id="header-container" class="container navbar-container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a id="brand" class="navbar-brand" href="#">Categories</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
    {% for category in categories %}
                <li {% if category.id == search.category %} class="active" {% endif %} ><a href="{{ path('blog_list',{'c':category.id}) }}">{{ category.tittle }}</a></li>
        {% endfor %}
            </ul>
        </div><!-- /.nav-collapse -->
    </div>
    <!-- Main Content -->
    <div class="container">
        <div class="row">
            {% if blogs|length > 0  %}
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                {% for blog in blogs %}
                    <div class="post-preview">
                        <a href="{{ path('blog_details',{'id':blog.id}) }}">
                            <h2 class="post-title">
                                {{ blog.tittle }}
                            </h2>
                            <h3 class="post-subtitle">
                                {{ blog.description|raw }}
                            </h3>
                        </a>
                        <p class="post-meta">Posted by {{ blog.user.username }} on {{ blog.created|date("m/d/Y") }}</p>
                    </div>
                    <hr>
                {% endfor %}


            </div>
                {% else %}
                <p>There is no blogs Published Yet ! </p>
                    {% endif %}
        </div>
    </div>

{% endblock %}
{% block javascripts %}
    {{ parent() }}
{% endblock %}