{% extends 'FEBundle::base.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
{% endblock %}
{% block body -%}

    <!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->
    <header class="intro-header" style="background-image: url('{{ asset('bundles/fe/img/home-bg.jpg') }}')">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="post-heading">
                        <h1>{{ blog.tittle }}</h1>

                        <p class="post-meta">Posted by {{ blog.user.username }}
                            on {{ blog.created|date("m/d/Y") }}</p>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Post Content -->
    <article>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <p>{{ blog.description|raw }}</p>
                </div>
            </div>
        </div>
    </article>

    <hr>
    <div class="container">

        <div class="row">
            <div class="col-sm-10 col-sm-offset-1" id="login">

                <div class="comment-tabs">
                    <ul class="nav nav-tabs" role="tablist">
                        <li class="active"><a href="#comments-login" role="tab" data-toggle="tab"><h4
                                        class="reviews text-capitalize">Comments</h4></a></li>
                        <li><a href="#add-comment-disabled" role="tab" data-toggle="tab"><h4
                                        class="reviews text-capitalize">Add comment</h4></a></li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active" id="comments-login">
                            <ul class="media-list">
                                {% if comments|length > 0 %}
                                    {% for comment in comments %}
                                        <li class="media">
                                            <div class="media-body">
                                                <div class="well well-lg">
                                                    <h4 class="media-heading text-uppercase reviews">Anonymous</h4>
                                                    <ul class="media-date text-uppercase reviews list-inline">
                                                        <li>{{ comment.created|date("m/d/Y") }}</li>
                                                    </ul>
                                                    <p class="media-comment">
                                                        {{ comment.description|raw }}
                                                    </p>
                                                    {#<a class="btn btn-info btn-circle text-uppercase" href="#" id="reply"><span class="glyphicon glyphicon-share-alt"></span> Reply</a>#}
                                                    {#<a class="btn btn-warning btn-circle text-uppercase" data-toggle="collapse" href="#replyThree"><span class="glyphicon glyphicon-comment"></span> 2 comments</a>#}
                                                </div>
                                            </div>

                                        </li>
                                    {% endfor %}
                                {% else %}
                                    <p>No Comments </p>
                                {% endif %}
                            </ul>
                        </div>
                        <div class="tab-pane" id="add-comment-disabled">
                            <form action="{{ path('add_comment') }}" method="POST" class="form-horizontal"  id="commentForm"  >
                                    <label for="addComment" class="col-sm-2 control-label">Comment</label>
                                    <div class="col-sm-10">
                                        <textarea class="form-control" name="desc" id="addComment" rows="5"></textarea>
                                    <input type="hidden" name="blog_id" value="{{ blog.id }}">
                                <p>
                                    <button type="submit" class="btn" >Submit</button>
                                </p>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr/>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
{% endblock %}