{% extends 'AdminTemplateBundle::base.html.twig' %}
{% block title %}Edit {{entity.tittle}}{% endblock %}
{% block page_title %}Blog Category creation{% endblock %}
{% block body %}
    {{parent()}}
<section id="content">

    <form action="{{ path('blogcategory_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }}>
        <input type="hidden" name="_method" value="PUT" />
        {{ form_widget(edit_form) }}
        <p>
            <button type="submit">Save</button>
        </p>
    </form>

            <a href="{{ path('bcat') }}">
                Back to the list
            </a>

</section>
{% endblock %}
