{% extends 'AdminTemplateBundle::base.html.twig' %}
{% block title %}Add New Blogcategory{% endblock %}
{% block page_title %}Blogcategory creation{% endblock %}
{% block body -%}
    {{parent()}}
<section id="content">

    <form action="{{ path('blogcategory_create') }}" method="post" {{ form_enctype(form) }}>
        {{ form_widget(form) }}
            <p>
                <button type="submit">Create</button>
            </p>
        </form>
                <a href="{{ path('bcat') }}">
                    Back to the list
                </a>

    </section>
{% endblock %}
