{% extends 'AdminTemplateBundle::base.html.twig' %}

{% block body -%}
    {{ tinymce_init() }}
<h1>BLog edit</h1>
<section class="wrapper">

    <section id="content">

        <form action="{{ path('blog_update', { 'id': entity.id }) }}" method="post"  {{ form_enctype(edit_form) }}>
            <input type="hidden" name="_method" value="PUT"/>
            {{ form_widget(edit_form) }}
            <label for="status">Status</label>
            <select  id="status" name="status" >
                <option {% if entity.status == published %} selected {% endif  %} value="{{ published }}">PUBLISHED</option>
                <option  {% if entity.status == pending %} selected {% endif  %} value="{{ pending }}">PENDING</option>
                <option  {% if entity.status == draft %} selected {% endif  %}  value="{{ draft }}">DRAFT</option>
            </select>
            <p>
                <button type="submit">Save</button>
            </p>
        </form>
    </section>
    </section>
    {% endblock %}
