{% extends 'AdminTemplateBundle::base.html.twig' %}
        {% block stylesheets %}
            {{ parent() }}
        {% endblock %}
{% block body -%}
    <a href="{{ path('blog_new') }}" class="btn btn-primary btn-large">Add New Blog</a></td>
    <hr/>
    <div class="widget widget-table action-table">

        <div class="widget-header"><i class="icon-th-list"></i>

            <h3>Blogs</h3>
        </div>

        <div class="widget-content">
            <table class="table table-striped table-bordered">
                <thead>
                <tr>
                    <th>Id</th>
                    <th>Tittle</th>
                    <th>Blog Category</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for entity in entities %}
                    <tr>
                        <td><a href="{{ path('blog_edit', { 'id': entity.id }) }}">{{ 000 ~ entity.id }}</a></td>
                        <td>{{ entity.tittle }}</td>
                        <td>{% if entity.category %}{{ entity.category.tittle }}{% else %} Not Available {% endif %} </td>

                        <td>
                            <a href="{{ path('blog_edit', { 'id': entity.id }) }}">Edit</a>
                            <a href="javascript:del({{entity.id}})" style="color:red" id="delete_link">Delete</a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <form hidden name="delete_form" id="delete_form" action="{{ path('blog_delete') }}"
          method="POST">
        <input type="hidden" name="id" id="entityId"/>
    </form>
{% endblock %}
       {% block javascripts %}
    {{parent()}}
    <script>
        function del(id){
            if ( confirm("Are you sure you want to delete?") )
                {
             $('#entityId').val(id);  
             $('#delete_form').submit();  
          }
      }
        </script>
    {% endblock %}
