{% extends 'AdminTemplateBundle::base.html.twig' %}

{% block body -%}
    {{ tinymce_init() }}
    <section class="wrapper">

    <h1>Blog creation</h1>

    <section id="content">
        <form action="{{ path('blog_create') }}" method="post" {{ form_enctype(form) }} >
            {{ form_widget(form) }}
            <label for="status">Status</label>
            <select  id="status" name="status" >
                <option value="{{ published }}">PUBLISHED</option>
                <option value="{{ pending }}">PENDING</option>
                <option value="{{ draft }}">DRAFT</option>
            </select>
            <p>
                <button type="submit">Create</button>
            </p>
        </form>
                <a href="{{ path('blog') }}">
                    Back to the list
                </a>
    </section>
{% endblock %}