{% extends "AdminTemplateBundle::base.html.twig" %}
{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('bundles/admintemplate/css/pages/signup.css')}}" rel="stylesheet">

{% endblock %}
{% block body %}
    <div class="account-container register">

        <div class="content clearfix">

            <form action="{{ path('register_operator') }}" method="post">

                <h1>Add New operator</h1>

                <div class="login-fields">


                    <div class="field">
                        <label for="firstname">Name:</label>
                        <input  required type="text" id="firstname" name="name" value="" placeholder="First Name" class="login" />
                    </div> <!-- /field -->

                    <div class="field">
                        <label for="email">Email Address:</label>
                        <input  required type="text" id="email" name="email" value="" placeholder="Email" class="login"/>
                    </div> <!-- /field -->

                    <div class="field">
                        <label for="address"> Address:</label>
                        <input type="text" id="address" name="address" value="" placeholder="Address" class="login"/>
                    </div> <!-- /field -->
                    <div class="field">
                        <label for="phone"> Phone:</label>
                        <input type="text" id="phone" name="phone" value="" placeholder="Phone" class="login"/>
                    </div> <!-- /field -->

                    <div class="field">
                        <label for="password">Password:</label>
                        <input type="password" id="password" name="password" value="" placeholder="Password" class="login"/>
                    </div> <!-- /field -->

                </div> <!-- /login-fields -->

                <div class="login-actions">

                    <button class="button btn btn-primary btn-large">Add</button>

                </div> <!-- .actions -->

            </form>

        </div> <!-- /content -->

    </div> <!-- /account-container -->

{% endblock  %}
{% block javascripts %}
{% endblock %}