{% extends "AdminTemplateBundle::base.html.twig" %}
{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('bundles/admintemplate/css/pages/signup.css')}}" rel="stylesheet">

{% endblock %}
{% block body %}
    <div class="account-container register">

        <div class="content clearfix">

            <form action="{{ path('update_operator' , { "id" : user.id } ) }}" method="post">

                <h1>Edit operator</h1>

                <div class="login-fields">


                    <div class="field">
                        <label for="firstname">Name:</label>
                        <input required type="text" id="firstname" name="name"  placeholder="First Name" class="login"  {% if user.profile %} value="{{ user.profile.name }}"  {% endif %}/>
                    </div> <!-- /field -->

                    <div class="field">
                        <label for="email">Email Address:</label>
                        <input  required type="text" id="email" name="email"  placeholder="Email" class="login"  value="{{ user.email }}" />
                    </div> <!-- /field -->

                    <div class="field">
                        <label for="address"> Address:</label>
                        <input  required type="text" id="address" name="address"  placeholder="Address" class="login"  {% if user.profile %} value="{{ user.profile.address }}" {% endif %} />
                    </div> <!-- /field -->
                    <div class="field">
                        <label for="phone"> Phone:</label>
                        <input type="text" id="phone" name="phone"  placeholder="Phone" class="login" {% if user.profile %} value="{{ user.profile.phone }}" {% endif %} />
                    </div> <!-- /field -->

                    <div class="field">
                        <label for="password">Password:</label>
                        <input type="password" id="password" name="password"  placeholder="Password" class="login"/>
                    </div> <!-- /field -->
                </div> <!-- /login-fields -->

                <div class="login-actions">

                    <button class="button btn btn-primary btn-large">Update</button>

                </div> <!-- .actions -->

            </form>

        </div> <!-- /content -->

    </div> <!-- /account-container -->

{% endblock  %}
{% block javascripts %}
{% endblock %}