{% extends "AdminTemplateBundle::base.html.twig" %}

{% block body -%}

    {% for image in images %}
        <li>
            {% if image %}
                {%if image.extension=="pdf" or image.extension=="zip" or image.extension=="doc" %}
                    <form  action="{{path("download")}}" method="GET" >
                        <input type="hidden"  name="elementId" value="{{module.id}}" >
                        <input type="hidden"  name="docId" value="{{image.id}}" >
                        <label>{{image.title}}</label>
                        <input type="submit" value="download"  >
                    </form>
                        
<hr/>
                {%else%}
                    <img src="{{ asset("uploads/modules/" ~ module.id ~ "/"  ~ image.id) }}" width="140" height="140">
                    <hr/>

                {% endif %}
            {% endif %}
        </li>
    {%endfor%}

{% endblock %}

        {% block javascripts %}
        {% endblock %}
